{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Arquetitek | Nosotros{% endblock title %}</title>
{% block main %}


        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark"
                 style="padding: 350px 0 150px 0; background-image: url({% static 'images/about/parallax.jpg' %}); background-size: cover; background-position: center center;"
                 data-stellar-background-ratio="0.4">

            <div class="container clearfix">
                <h1 style="float:right;">Arquetitek</h1>
                <div class="clear"></div>
                <span style="float:right;">La empresa que tu empresa necesita</span>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_one_third">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Nuestra <span>Misión</span>.</h4>
                        </div>

                        <p>Ayudar a nuestros clientes a explotar el máximo potencial de su marca para que sus
                            emprendimientos, metas y sueños sean logrados.</p>

                    </div>

                    <div class="col_one_third">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Nuestra <span>Visión</span>.</h4>
                        </div>

                        <p>Convertirnos en la empresa con mayor alcance internacional en promoción de marcas y de esta
                            forma ser la plataforma en la que todas las empresas se apoyen para alcanzar el éxito.</p>

                    </div>

                    <div class="col_one_third col_last">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Por qué <span>Elegirnos</span>.</h4>
                        </div>

                        <p>Nuestra experiencia en diferentes áreas tecnológicas nos hacen la mejor opción en cuanto a
                            marketing, diseño y desarrollo informático, un equipo de profesionales especialistas le
                            ofrecen las mejores soluciones para sus necesidades comerciales, lo que se traduce en un
                            retorno exponencial de la inversión realizada.</p>

                    </div>

                </div>

                <div class="row common-height clearfix" style="margin-bottom:-80px;">

                    <div class="col-sm-5 col-padding"
                         style="background: url({% static 'images/team/7.jpg' %}) center center no-repeat; background-size: cover;"></div>

                    <div class="col-sm-7 col-padding">
                        <div>
                            <div class="heading-block">
                                <h3>Sobre Arquetitek</h3>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-12">
                                    <p>Arquetitek nace por la necesidad de crear un equipo de profesionales de diversas
                                        areas que trabajen en conjunto para ayudar a los emprendedores a alcanzar sus
                                        metas comerciales ofreciendoles servicios de calidad y una atención única y
                                        personalizada</p>
                                    <p>Nuestro equipo esta conformado por Community Managers, Comunicadores Sociales,
                                        Periodistas, Fotografos, Camarografos, Diseñadores Gráficos, Diseñadores de
                                        Interiores, Diseñadores UX / UI, Ingenieros de sistemas, Ingenieros
                                        informáticos, Productores Audiovisuales, Directores de Castings, entre otros</p>
                                    <a href="https://www.facebook.com/Arquetitek/"
                                       class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="https://twitter.com/arquetitek"
                                       class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com/arquetitek/"
                                       class="social-icon inline-block si-small si-light si-rounded si-instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>
                                     <!--<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>-->
                                </div>


                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </section><!-- #content end -->

{% endblock %}