{% extends "base.html" %}
{% load static %}


{% block page_title %}{{ post.title }} | Blog |{% endblock %}
{% block meta_tags %}
    <meta name="description" content="{{ post.description }}"/>
{% endblock %}
{% block main %}
    <section id="content">
        {% if post.image %}
            <div class="entry-image">
                <a href="#"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
            </div><!-- .entry-image end -->
        {% endif %}
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="single-post nobottommargin">
                    {% if post.postphoto_set.count %}
                        <div class=" col_full portfolio-single-image">
                            <div class="fslider" data-arrows="true" data-animation="slide">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        {% for postphoto in post.postphoto_set.all %}
                                            {{ postphoto }}
                                            {% if postphoto.photo %}
                                            <div class="slide"><a><img
                                                    src="{{ postphoto.photo.url }}" alt="{{ postphoto.photo.title }}"></a>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif post.video %}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.video }}"
                                frameborder="0"
                                allowfullscreen></iframe>

                    {% endif %}
                    <div class="postcontent nobottommargin clearfix">

                    <div class="entry clearfix">

                        <!-- Entry Title
                        ============================================= -->
                        <div class="entry-title">
                            <h2>{{ post.title }}</h2><br>
                        </div><!-- .entry-title end -->

                        <!-- Entry Meta
                        ============================================= -->
                        <ul class="entry-meta clearfix">
                            <li> {{ post.published }}</li>
                            <li> {{ post.author.get_full_name }}</li>
                            <li> {{ post.description }}</li>
                        </ul><!-- .entry-meta end -->

                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content notopmargin">
                            {{ post.content|safe }}
                        </div>
                    </div><!-- .entry end -->


                </div>

                <!-- Sidebar
                ============================================= -->
                <div class="sidebar nobottommargin col_last clearfix">
                    <div class="sidebar-widgets-wrap">

                        <!--

                            <h4>Twitter Feed</h4>
                            <ul class="iconlist twitter-feed" data-username="envato" data-count="2">
                                <li></li>
                            </ul>

                                <a class="twitter-timeline" href="https://twitter.com/arquetitek"><h4>Tweets by Arquetitek</h4></a>
                                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



                            <a href="#" class="btn btn-default btn-sm fright">Follow Us on Twitter</a>

                        </div>-->
                        <div class="widget widget-twitter-feed clearfix">
                            <div style="height:500px; overflow:scroll;">
                                <a class="twitter-timeline" href="https://twitter.com/arquetitek"><h4>Tweets by
                                    Arquetitek</h4></a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>

                        <div class="widget clearfix">

                            <h4>Instagram Arquetitek</h4>
                            <script src="https://snapwidget.com/js/snapwidget.js"></script>
                            <iframe src="https://snapwidget.com/embed/430556" class="snapwidget-widget"
                                    allowTransparency="false" frameborder="0" scrolling="no"
                                    style="border:none; overflow:hidden; width:100%;"></iframe>


                        </div>

                    </div>

                    <div class="widget clearfix">
                        {% for post in content_portfolio %}
                            <div class="tabs nobottommargin clearfix" id="sidebar-tabs">
                                <div class="tab-container">

                                    <div class="tab-content clearfix" id="tabs-1">
                                        <div id="popular-post-list-sidebar">
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle"
                                                                                  src="{{ post.image.url }}"
                                                                                  alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="{% url 'post' post.slug %}">{{ post.title }}</a>
                                                        </h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li><i class="icon-comments-alt"></i>35 coments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div><!-- .sidebar end -->
        </div>
        </div>

    </section><!-- #content end -->

{% endblock %}
