{% extends "base.html" %}
{% load static %}

<title>{% block title %}Arquetitek | Blog{% endblock title %}</title>


{% block main %}
<!-- Page Title
        ============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark"
         style="padding: 150px 0 150px 0; background-image: url({% static 'images/about/blog.jpg' %}); background-size: cover; background-position: center center;"
         data-stellar-background-ratio="0.4">
    <div class="container clearfix">
        <h1 style="float:right;">Arquetitek</h1>
        <div class="clear"></div>
        <span style="float:right;">La empresa que tu empresa necesita</span>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <!-- Posts
         ============================================= -->
        <div id="posts" class="post-grid grid-container post-masonry post-masonry-full clearfix">
            {% for post in post_list %}
            <div class="entry clearfix">
                {% if post.image %}
                <div class="entry-image">
                    <div class="entry-image">
                    </div>

                    <a href="{{ post.image.url }}" data-lightbox="image"><img class="image_fade"
                                                                               src="{{ post.image.url }}"
                                                                               alt="Standard Post with Image"></a>
                </div>
                {% elif post.video %}

                <div class="entry-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.video }}"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                {% endif %}

                <div class="entry-title">
                    <h2><a href="{% url 'post' post.slug %}">{{ post.title }}</a></h2>
                </div>
                <ul class="entry-meta clearfix">
                    <li>{{ post.published }}</li>
                    <li>{{ post.author }}</li>
                    <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                </ul>
                <div class="entry-content">
                    <p>{{ post.description }}</p>
                    <a href="{% url 'post' post.slug %}" class="more-link">Read More</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

</section><!-- #content end -->

{% endblock %}