{% extends 'base.html' %}
{% load static %}

{% block page_title %}Portfolio |{% endblock %}

{% block main %}


    <div class="clear"></div>

    <section id="content">

        <div class="content-wrap" style="padding: 1px 0 0 0;">

            <!-- portfolio
             ============================================= -->

            <div id="portfolio"
                 class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry grid-container clearfix">

                {% for portfolio in object_list %}
                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            {% if portfolio.image %}
                                <a href="{% url 'portfolio-detail' portfolio.slug %}">
                                    <img class="image_fade"
                                         src="{{ portfolio.image.url }}"
                                         alt="Standard portfolio with Image"></a>

                            {% endif %}


                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="{% url 'portfolio-detail' portfolio.slug %}">{{ portfolio.title }}</a></h3>
                                </div>
                                 {% if portfolio.image %}
                                <a href="{{ portfolio.image.url }}" class="left-icon" data-lightbox="image"><i
                                        class="icon-line-stack-2"></i></a>
                                {% endif %}
                                <a href="{% url 'portfolio-detail' portfolio.slug %}" class="right-icon"><i
                                        class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>
                    {% comment %}<div class="entry clearfix">

                        <div class="entry-title">
                            <h2><a><a href="{% url 'portfolio-detail' portfolio.slug %}">{{ portfolio.title }}</a></a>
                            </h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li>{{ portfolio.published }}</li>
                            <li>{{ portfolio.author }}</li>
                            <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                        </ul>
                        <div class="entry-content">
                            <p>{{ portfolio.description }}</p>
                            <a href="{% url 'portfolio-detail' portfolio.slug %}" class="more-link">Read More</a>
                        </div>
                    </div>{% endcomment %}
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock %}|