{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Portfolio - Mixed Masonry | Canvas{% endblock title %}</title>

{% block main %}


<div class="clear"></div>

<section id="content">

    <div class="content-wrap">

        <!-- portfolio
         ============================================= -->

        <div id="posts" class="post-grid grid-container post-masonry post-masonry-full clearfix">
            {% for portfolio in object_list %}
            <div class="entry clearfix">
                {% if portfolio.image %}
                <div class="entry-image">
                    <div class="entry-image">
                    </div>

                    <a href="{{ portfolio.image.url }}" data-lightbox="image"><img class="image_fade"
                                                                                     src="{{ portfolio.image.url }}"
                                                                                     alt="Standard portfolio with Image"></a>
                </div>
                {% elif portfolio.video %}

                <div class="entry-image">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{{ portfolio.video }}"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                {% endif %}

                <div class="entry-title">
                    <h2><a><a href="{% url 'portfolio-detail' portfolio.slug %}">{{ portfolio.title }}</a></a></h2>
                </div>
                <ul class="entry-meta clearfix">
                    <li>{{ portfolio.published }}</li>
                    <li>{{ portfolio.author }}</li>
                    <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                </ul>
                <div class="entry-content">
                    <p>{{ portfolio.description }}</p>
                    <a href="{% url 'portfolio-detail' portfolio.slug %}" class="more-link">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}|