{% extends "base.html" %}
{% load static %}

{% block page_title %}Portafolio |{% endblock %}

{% block main %}
<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>{{ portfolio.title }}</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">


            <div class="single-post nobottommargin">

                <!-- Portfolio Single Gallery
                ============================================= -->

                {% if portfolio.photo_set.count %}
                <div class=" col_full portfolio-single-image">
                    <div class="fslider" data-arrows="true" data-animation="slide">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                {% if portfolio.image %}
                                <div class="slide"><a><img
                                        src="{{ portfolio.image.url }}" alt=""></a>
                                </div>
                                {% endif %}
                                {% for photoportfolio in portfolio.photoportfolio_set.all %}
                                <div class="slide"><a><img
                                        src="{{ photoportfolio.photo.url }}" alt=""></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% elif portfolio.image %}
                <div class="entry-image bottommargin">
                    <a><img src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}"></a>
                </div><!-- .entry-image end -->
                {% elif portfolio.video %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ portfolio.video }}"
                        frameborder="0"
                        allowfullscreen></iframe>

                {% endif %}


                <!-- .portfolio-single-image end -->

                <div class="col_one_third nobottommargin">

                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <div class="panel panel-default events-meta">
                        <div class="panel-body">
                            <ul class="portfolio-meta nobottommargin">
                                <li><span><i class="icon-user"></i>Created by:</span> {{ portfolio.create }}</li>
                                <li><span><i
                                        class="icon-calendar3"></i>Completed on:</span> {{ portfolio.completed }}
                                </li>
                                <li><span><i class="icon-lightbulb"></i>Skills:</span> {{ portfolio.skills }}</li>
                                <li><span><i class="icon-link"></i>Client:</span> <a
                                        href="#">{{ portafolio.client }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Portfolio Single - Meta End -->

                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="si-share noborder clearfix">
                        <span>Share:</span>
                        <div>
                            <a href="https://www.facebook.com/Arquetitek/"
                               class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="https://twitter.com/arquetitek" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                             <a href="https://www.instagram.com/arquetitek/"
                               class="social-icon si-borderless si-forrst">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>


                           <!-- <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>

                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon si-borderless si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>-->

                        </div>
                    </div>
                    <!-- Portfolio Single - Share End -->

                </div>

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col_two_third portfolio-single-content col_last nobottommargin">

                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <div class="fancy-title title-dotted-border">
                        <h2>Project {{ portfolio.title }} Info:</h2>
                    </div>
                    {{ portfolio.content|safe }}
                </div>
                <!-- Portfolio Single - Description End -->

            </div><!-- .portfolio-single-content end -->

            <div class="clear"></div>

            <div class="divider divider-center"><i class="icon-circle"></i></div>

            <!-- Related Portfolio Items
            ============================================= -->

            <h4>Related Projects:</h4>

            <div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="30"
                 data-nav="false" data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3"
                 data-items-lg="4">
                {% for portfolio in content_portfolio %}
                <div class="oc-item">
                    <div class="iportfolio">

                        <div class="portfolio-image">

                            <a href="{% url 'portfolio' %}">
                                <img src="{{ portfolio.image.url }}" alt="Open Imagination">
                            </a>

                            <div class="portfolio-overlay">
                                <a href="{{ portfolio.image.url }}" class="left-icon"
                                   data-lightbox="image"><i
                                        class="icon-line-plus"></i></a>
                                <a href="{% url 'portafolio-detail' portfolio.slug %}" class="right-icon"><i
                                        class="icon-line-ellipsis"></i></a>
                            </div>

                        </div><!-- .portfolio-carousel end -->

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section><!-- #content end -->


{% endblock %}