{% extends "base.html" %}
{% load static %}

{% block page_title %}Portafolio |{% endblock %}

{% block main %}

<!-- Content
============================================= -->
<section id="content">

    <!-- Portfolio Single Gallery Thumbs
    ============================================= -->
    <div class="col_full portfolio-single-image masonry-thumbs col-3" data-big="2" data-lightbox="gallery">
        {% if portfolio.photoportfolio_set.all %}
            {% for photoportfolio in portfolio.photoportfolio_set.all %}
            <a href="{{ photoportfolio.photo.url }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ photoportfolio.photo.url }}" alt="{{ photoportfolio.title }}"></a>
            {% endfor %}
        {% else %}
            <a href="{{ portfolio.image.url }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}"></a>
        {% endif %}

    </div><!-- .portfolio-single-image end -->

    <div class="content-wrap">

        <div class="container clearfix">


            <div class="single-post nobottommargin">

                <div class="col_one_third nobottommargin">

                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <div class="panel panel-default events-meta">
                        <div class="panel-body">
                            <ul class="portfolio-meta nobottommargin">
                                <li><span><i class="icon-user"></i>Creado por:</span> {{ portfolio.created_by }}</li>
                                <li><span><i
                                        class="icon-calendar3"></i>Fecha:</span> {{ portfolio.completed }}
                                </li>

                                {% for service in portfolio.get_services %}
                                <li>
                                    <span>{% if forloop.first %}
                                        <i class="icon-lightbulb"></i>Servicios:{% endif %}</span>
                                    {{ service }}</li>
                                {% endfor %}
                                <li><span><i class="icon-link"></i>Cliente:</span> <a
                                        href="{{ portfolio.client_url }}">{{ portfolio.client }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Portfolio Single - Meta End -->

                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="si-share noborder clearfix">
                        <span>Share: </span>
                        <div>
                            <a href="https://www.facebook.com/Arquetitek/"
                               class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="https://twitter.com/arquetitek" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                             <a href="https://www.instagram.com/arquetitek/"
                               class="social-icon si-borderless si-forrst">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>


                           <!-- <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>

                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon si-borderless si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>-->

                        </div>
                    </div>
                    <!-- Portfolio Single - Share End -->

                </div>

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col_two_third portfolio-single-content col_last nobottommargin">

                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <div class="fancy-title title-dotted-border">
                        <h2>Project {{ portfolio.title }} Info:</h2>
                    </div>
                    {{ portfolio.content|safe }}
                </div>
                <!-- Portfolio Single - Description End -->

            </div><!-- .portfolio-single-content end -->

            <div class="clear"></div>

            <div class="divider divider-center"><i class="icon-circle"></i></div>

            <!-- Related Portfolio Items
            ============================================= -->

            <h4>Related Projects:</h4>

            <div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="30"
                 data-nav="false" data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3"
                 data-items-lg="4">
                {% for portfolio in portafolio_related %}
                <div class="oc-item">
                    <div class="iportfolio">

                        <div class="portfolio-image">

                            <a href="{% url 'portfolio' %}">
                                <img src="{{ portfolio.image.url }}" alt="Open Imagination">
                            </a>

                            <div class="portfolio-overlay">
                                <a href="{{ portfolio.image.url }}" class="left-icon"
                                   data-lightbox="image"><i
                                        class="icon-line-plus"></i></a>
                                <a href="{% url 'portfolio-detail' portfolio.slug %}" class="right-icon"><i
                                        class="icon-line-ellipsis"></i></a>
                            </div>

                        </div><!-- .portfolio-carousel end -->
                        <div class="portfolio-desc">
                                <h3><a href="{% url 'portfolio-detail' portfolio.slug %}">{{ portfolio.title }}</a></h3>
{#                                <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>#}
                            </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section><!-- #content end -->


{% endblock %}