{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Servicios |{% endblock title %}</title>

{% block main %}


        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark"
                 style="padding: 350px 0 150px 0; background-image: url({% static 'images/about/servicios.jpg' %}); background-size: cover; background-position: center center;"
                 data-stellar-background-ratio="0.4">

            <div class="container clearfix">
                <h1>Nuestros Servicios</h1>
                <div class="clear"></div>
                <span>Soluciones efectivas para ti y tu empresa</span>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix" style="margin-bottom:80px;">

                    <div class="heading-block center">
                        <h2>MARKETING DIGITAL - SOCIAL MEDIA - SEO OPTIMIZADO</h2>
                        <span>Ponemos a tu disposición al mejor equipo de profesionales en desarrollo informático, diseño gráfico, publicidad<br>y marketing digital que te ayudarán a promover tu marca y alcanzar las metas establecidas para tus proyectos</span>
                    </div>

                    <div class="col_full">

                        <img data-animate="fadeIn" class="aligncenter" src="{% static 'images/services/macbook.png' %}"
                             alt="Macbook">

                    </div>

                    <div class="col_one_third nobottommargin">

                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt">1.</i></a>
                            </div>
                            <h3>Marketing Digital</h3>
                            <p>Estrategias de comercialización llevadas a cabo en los medios digitales</p>
                        </div>

                    </div>

                    <div class="col_one_third nobottommargin">

                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt">2.</i></a>
                            </div>
                            <h3>Social Media</h3>
                            <p>Uso estratégico de las redes sociales para promover la marca de tu empresa o
                                emprendimiento</p>
                        </div>

                    </div>

                    <div class="col_one_third nobottommargin col_last">

                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="i-alt">3.</i></a>
                            </div>
                            <h3>SEO Optimizado</h3>
                            <p>Conjunto de técnicas utilizadas para posicionar una marca de forma natural en los
                                buscadores</p>
                        </div>

                    </div>

                </div>

                <div class="row common-height clearfix">

                    <div class="col-sm-5 col-padding"
                         style="background: url({% static 'images/team/3.jpg' %}) center center no-repeat; background-size: cover;"></div>

                    <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
                        <div>
                            <div class="heading-block">
                                <h3>DISEÑO Y DESARROLLO WEB</h3>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-12">
                                    <p>Somos especialistas en soluciones web a la medida. Diseñamos y desarrollamos
                                        sistemas eficientes y simples de usar, ajustados a los objetivos de nuestros
                                        clientes. Ofrecemos soluciones exclusivas y personalizadas en diseño y
                                        desarrollo web, soluciones completas e integrales para maximizar su
                                        rentabilidad.<br><br>

                                        Manejadores de contenidos propios y genericos, Posicionamiento en buscadores,
                                        Registro de dominio, Hosting, Soporte y mantenimiento, Comercio electrónico,
                                        Revistas virtuales y más
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="section">

                    <div class="container clearfix">

                        <div class="heading-block center">
                            <h2>DISEÑO Y DESARROLLO DE APLICACIONES MÓVILES</h2>
                            <span>Trabajamos en el desarrollo de aplicaciones a medida para empresas, buscando la excelencia en la experiencia de usuario, el diseño UI y UX, aplicando la innovación a todas las aplicaciones móviles que desarrollamos.</span>
                        </div>

                        <div class="row">

                            <div class="col-md-6 bottommargin" style="margin-top:10px;">
                                <img data-animate="fadeInLeftBig" src="{% static 'images/services/iphone.png' %}"
                                     alt="iPhone" class="center-block">
                            </div>

                            <div class="col-md-6 col-sm-6 topmargin bottommargin">

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-check"></i></a>
                                        </div>
                                        <h3>Diseños Modernos</h3>
                                        <p>Diseños atractivos y modernos para todo tipo de empresas</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-check"></i></a>
                                        </div>
                                        <h3>Desarrollos funcionales</h3>
                                        <p>Desarrollos funcionales adaptados a las necesidades de nuestros clientes</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-check"></i></a>
                                        </div>
                                        <h3>Aplicaciones IOS y Android</h3>
                                        <p>Desarrollamos aplicaciones para moviles y tablets en plataformas IOS y
                                            Android</p>
                                    </div>

                                </div>

                                <div class="col_full nobottommargin">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-check"></i></a>
                                        </div>
                                        <h3>Soporte y mantenimiento</h3>
                                        <p>Ofrecemos soporte, mantenimiento y actualizaciones frecuentes</p>
                                    </div>

                                </div>


                            </div>


                        </div>

                    </div>

                </div>

                <div class="row common-height clearfix" style="margin-top:-100px;">

                    <div class="col-sm-7 col-padding" style="background-color: #FFFFFF;">
                        <div>
                            <div class="heading-block2" style="float:right; text-align:right">
                                <h3>PUBLICIDAD Y DISEÑO GRÁFICO</h3>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-12" style="text-align:right;">
                                    <p>En Arquetitek estamos consciente de la importancia de una imagen fuerte y exitosa
                                        para lograr distinguirse de la competencia y desarrollar relaciones duraderas y
                                        provechosas con su público. Creamos conceptos innovadores para productos,
                                        servicios y contenidos, encontrando soluciones de comunicación originales a
                                        través del uso creativo de la tecnología e identificando oportunidades que nadie
                                        ve.<br><br>

                                        Somos especialistas en el desarrollo y aplicación de esfuerzos comunicacionales
                                        que permitan el crecimiento y el posicionamiento adecuado en el mercado de su
                                        organización o producto. En Arquetitek ofrecemos todo un conjunto de acciones de
                                        comunicación que lograrán que su empresa o producto alcancen los objetivos
                                        propuestos y potencien su crecimiento. </p>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="col-sm-5 col-padding"
                         style="background: url({% static 'images/team/8.jpg' %}) center center no-repeat; background-size: cover;"></div>


                </div>


                <a class="button button-full center tright footer-stick" href="{% url 'contact' %}">
                    <div class="container clearfix">Si necesitas informacion adicional de nuestros servicios <strong>Contactanos</strong><i
                            class="icon-caret-right" style="top:4px;"></i>
                    </div>
                </a>

            </div>
    </div>

    </section><!-- #content end -->

{% endblock %}